@*@using IdentityCustom.Models*@
@using UserStore.BLL.DTO

@*@model IEnumerable<RoleDTO>*@
@model UsersPerRoleDTO

@{
    ViewBag.Title = "Роли";
}
<div>
    @ViewBag.Tests
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Roles</div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Пользователи</th>
            <th style="min-width: 150px"></th>
        </tr>
        @if (Model.Users.Count() == 0 || Model.Users==null)
        {
            <tr>
                <td colspan="4" class="text-center">Нет пользователей для роли @Model.RoleName</td>
            </tr>
        }
        else
        {
            foreach (var user in Model.Users)
            {
                <tr>
                    <td>@Model.RoleId</td>
                    <td>@Model.RoleName</td>
                    <td>
                        
                            <p>
                                @*@string.Join(", ", role.Users.Select(x =>
                                    Html.GetUserName(x.UserId)))*@
                                
                                @user.Email
                            </p>
                        
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "RoleAdmin", new { id = Model.RoleId }))
                        {
                            @Html.ActionLink("Изменить", "Edit", new { id = Model.RoleId },
                                new { @class = "btn btn-primary btn-xs", style = "float:left; margin-right:5px" })
                            <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })